body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

button{
  margin: 0.5rem;
  background-color: teal;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  font-size: large;
  padding: 1rem 2rem;
  text-align: center;
}

span{
  font-size: 1.5rem;
  font-weight: 700;
}